body {
    background-image: url("https://images.unsplash.com/photo-1566576721346-d4a3b4eaeb55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVsaXZlcnklMjB0cnVja3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: white;
    text-shadow: 0 0 100px white ;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 100px white ;
}

h2 {
    text-shadow: 0 0 8px white ;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

